@import "./variables";
@import "./mixins";
@import "/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

//********************************************************************************///
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  color: $c-s;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sectionS1 {
  // 100px === navbar height
  min-height: calc(100vh - 70px);
}
.navbar {
  background-color: transparent;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 5px;
  @include small {
    gap: 15px;
  }
}

.nav-item > a {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-family: Rozha One;
  color: $c-t;
}

.nav-item:nth-child(2) > a,
.nav-item:nth-child(3) > a {
  border-bottom: 2px solid $c-t; /* يمكنك تغيير اللون والسُمك حسب الحاجة */
}

.join-us {
  margin-left: 50px;
  width: 125px;
  height: 40px;
  border-radius: 100px;
  padding: 8px 8px 8px 15px;
  background-color: $c-p;
  display: flex;
  align-items: center;
  @include small {
    margin-left: 0px;
  }
  a {
    text-transform: capitalize;
    color: $c-w;
    text-decoration: underline;
  }
}
.image-logo {
  width: 200px;
  height: 150px;
  @include small {
    width: 100px;
    height: 100px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-home-icon {
  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.content-body-home {
  margin: auto;
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @include x-small {
    width: 320px;
    margin-top: 1500px;
  }
  @include small {
    width: 400px;
    margin-top: 150px;
  }
}

.public-paragraph {
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  font-family: Rozha One;
  color: $c-t;
  width: 700px;
  position: relative;
  @include x-small {
    font-size: 20px;
    width: 300px;
  }
  @include small {
    font-size: 20px;
    width: 350px;
  }
}

.public-paragraph::after {
  content: "";
  position: absolute;
  bottom: 25%;
  right: -10px;
  height: 2px;
  width: 50px;
  background-color: $c-t;
}

// footer
.footer {
  background: #000;
  padding: 10px 0;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include small {
      flex-direction: column-reverse;
      gap: 30px;
    }

    .logo {
      img {
        width: 100px;
      }
    }

    p {
      color: #fff;
      font-weight: 400;
      margin: 0;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        img {
          width: 35px;
        }
      }
    }
  }
}

.custom-modal-size {
  width: 580px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include x-small {
    width: $sm-modal-width !important; /* Set modal width */
    max-width: $sm-modal-width !important; /* Prevent modal from exceeding width */
  }
  @include small {
    width: 90%;
    margin: auto;
  }
}

.header-modal {
  background-color: $c-t;
  display: flex;
  align-items: center;
  color: $c-w;
  border-radius: 5px 5px 0px 0px;
  height: 60px;
  padding-left: 10px;
  h1 {
    font-size: 16px;
    font-weight: 300;
    margin-left: 5px;
  }
}

.image-icon {
  width: 22px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.body-header-modal {
  height: 40px;
  width: 500px;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
  text-align: left;
  margin: 15px 0;
  padding: 0 10px;
  font-family: Rozha One;
  p {
    font-size: 16px;
    font-family: Josefin Sans;
    font-weight: 300;
    margin: 0;
    span {
      font-weight: 700;
    }
  }
}

.body--modal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.use-diff-num {
  font-size: 18px;
  font-weight: 600;
  font-family: Josefin Sans;
  color: $c-p;
  text-align: left;
  padding: 0 10px;
}

.group-inputs {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 0 10px;
  justify-content: space-between;
}

.one-input {
  width: 48%;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px;

  label {
    margin: 0;
    font-size: 12px;
    text-transform: capitalize;
  }

  input {
    width: 100%;
    font-size: 14px;
    height: 100%;
    outline: none;
    padding-left: 5px;
    border: none;
  }
}

.button-style {
  margin: 50px auto;
  background-color: $c-p;
  width: 235px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: $c-w;
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
    text-transform: capitalize;
  }
}

.one-input-passcode {
  width: 95%;
  margin: 10px auto;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px 10px;

  label {
    margin: 0;
    font-size: 12px;
    text-transform: capitalize;
  }

  input {
    width: 100%;
    font-size: 16px;
    height: 100%;
    outline: none;
    padding-left: 5px;
    border: none;
  }
}

.image-congrate {
  margin: 10px auto;
  width: 66px;
  height: 80px;
  img {
    width: 100%;
    height: 100%;
  }
}

.text-congrate {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  font-family: Rozha One;
  color: rgba(0, 0, 0, 0.42);
}
.text-created-account {
  font-weight: 300;
  font-size: 20px;
  font-family: Josefin Sans;
  text-align: center;
}

.page-content {
  min-height: 700px;
}

.btns-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
  width: 80%;
  @include x-small {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  @include small {
    display: flex;
    width: 95%;
    flex-direction: column;
  }
}

.btn-secondary {
  width: 360px;
  height: 50px;
  border-radius: 10px;
  background-color: $c-t;
  color: $c-w;
  text-decoration: underline;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.btn-primary {
  width: 360px;
  height: 50px;
  border-radius: 10px;
  background-color: $c-p;
  color: $c-w;
  text-decoration: underline;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
